.apply_root{
    width: 100vw;
    height: 100vh;
}

.apply_header{
    width: 100%;
    height: 10%;
    background-color: #c30e2e;
}

.apply_root img{
    margin-top: 1%;
    margin-left: 1%;
    width:17%;
}

.apply_body{
    width: 100%;
    height: 150%;
    background-color: #F8F8F8;
    display: flex;
}

.apply_left{
    width: 65%;
    height: 100%;
    background-color: #F8F8F8;
}


.apply_class_header{
    width: 100%;
    height: 3%;
    background-color: #F8F8F8;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.departmentInput{
    width: 80%;
    height: 30px;
    margin-left: 10px;
}

.selectDept{
    margin-top: 20px;
    margin-left: 20px;
}
.dept_label_style{
    font-size: 20px;
}

.apply_class_content{
    width: 100%;
    height: 40%;
    margin-left: 20px;
    background-color: white;
    border: 1px solid #2d2d2d;
    overflow: scroll;
}


.table_style{
    margin-top: 2%;
    margin-left: -3%;
    display: flex;
    justify-content: center;
}

.table_style table{
    border-collapse: collapse;
    width: 100%;
}

.table_style tbody tr td{
    text-align: center;
}


/* .table_style table td, th {
    position: sticky;
    border: 1px solid gray; 
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000; 
} */

.table_style thead tr{
    position: sticky;
    border: 1px solid #2d2d2d;
}

.table_style thead tr{
    border-left: none; 
    border-right: none;
}

.table_style tbody td button{
    background-color: #a80e2b;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.table_style tbody td button.checked{
    background-color: #acacac;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}


.apply_interest{
    width: 100%;
    height: 25%;
    background-color: white;
    margin: 20px;
}

.apply_interest_header{
    width: 100%;
    height: 14%;
    background-color:#F8F8F8;
    display: flex;
    align-items: center;
}

.apply_interest_content{
    width: 100%;
    height: 86%;
    background-color: #F8F8F8;
    border: 1px solid #2d2d2d;
    text-align: center;
}

.apply_interest_content thead tr{
    position: sticky;
    border-bottom: 1px solid #2d2d2d;
}

.apply_interest_content table{
    border-collapse: collapse;
    width: 100%;
}
.apply_interest_content td {
    text-align: center;
}


.apply_complete{
    width: 100%;
    height: 25%;
    background-color: white;
    margin: 20px;
}

.apply_complete_header{
    width: 100%;
    height: 14%;
    background-color:#F8F8F8;
    display: flex;
    align-items: center;
}

.apply_complete_content{
    width: 100%;
    height: 86%;
    background-color: #F8F8F8;
    border: 1px solid #2d2d2d;
    overflow: scroll;
}

.apply_complete_content table{
    border-collapse: collapse;
    width: 100%;
}

.apply_complete_content td {
    text-align: center;
}

.apply_complete_content thead tr{
    position: sticky;
    border: 1px solid #2d2d2d;
}

.apply_complete_content thead tr{
    border-left: none; 
    border-right: none;
    border-top: none;
}

.apply_complete_content tbody td button{
    background-color: #a80e2b;
    color: #fff;
    border: 1px solid #fff;
}

.apply_right{
    width: 30%;
    height: 100%;
    background-color: transparent;
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    position:fixed;
    top:15%;
    left: 65%;
}


.apply_dowadream_header{
    width: 90%;
    height: 4%;
    background-color: transparent;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.apply_dowadream{
    width: 100%;
    height: 75%;
    background-color: #F8F8F8;
    border: 1px solid #2d2d2d;
    margin-left: 5%;
    background-color: white;
}

#apply_square{
    width: 12px;
    height: 70%;
    background-color: #c30e2e;
}

h3{
    margin-left: 2%;
}

.dowadream_timetable{
    width: 70%;
    height: 65%;
    margin-top: 5%;
    margin-left: 15%;
}

.dowadream_tablehead{
    position: absolute;
    display: flex;
    margin-top: -4px;
}

.dowadream_tablebody{
    margin-left: 7px;
}

.grids_mon1 {
    position: absolute;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    margin-left: -23px;
}
.grids_thu1 {
    position: absolute;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    margin-left: -23px;
}
.grids_wed1 {
    position: absolute;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    margin-left: -23px;
}
.grids_thr1 {
    position: absolute;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    margin-left: -23px;
}
.grids_fri1 {
    position: absolute;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    margin-left: -23px;
}

.grid_apply{
    border: 1px solid #d6d6d6;
    display: table-cell;
    height: 15px;
    font-size: 5px;
    border-width: 1px;
    color: gray;
    text-align: center;
    width: 50px;
    box-sizing: border-box;
    border-top: 1px solid #e3e3e3;
    position: relative;
}


.grid_apply_selected{
    display: table-cell;
    height: 15px;
    font-size: 5px;
    color: gray;
    text-align: center;
    width: 50px;
    box-sizing: border-box;
    position: relative;
}

.subjectName{
    position: relative;
    z-index: 1;
}

.non_apply {
    position: absolute;
    display: flex;
    width: 27px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left: 4px;
    border-top-left-radius: 20px;
}

.day{
    position: absolute;
    display: flex;
    margin-left: 5px;
}
.mon_apply {
    position: absolute;
    display: flex;
    width: 46px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left: 29px;
}
.thu_apply {
    position: absolute;
    display: flex;
    width: 46px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left: 78px;
}
.wed_apply {
    position: absolute;
    display: flex;
    width: 46px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left:127px;
}
.thr_apply {
    position: absolute;
    display: flex;
    width: 46px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left:176px;
}
.fri_apply {
    position: absolute;
    display: flex;
    width: 46px;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #a6a6a6;
    margin-left:225px;
    border-top-right-radius: 20px;
}

.hours_a{
    position: absolute;
    margin-top: 27px;
    margin-left: -4px;
}

.hour9_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;

}
.hour10_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 30px;

}
.hour11_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 60px;

}
.hour12_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 90px;


}
.hour1_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 120px;

}
.hour2_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 150px;


}
.hour3_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 180px;


}
.hour4_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 210px;

}
.hour5_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 240px;

}
.hour6_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 270px;


}

.hour7_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 300px;
  

}
.hour8_a {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 29px;
    height: 28px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 330px;

}

.noTimeLecture{
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 274px;
    height: 40px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-left: -1px;
    margin-top: 383px;
    font-size: 10px;
    font-weight: bold;
    overflow: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

.showCredit{
    position: absolute;
    width: 100%;
    margin-top: 16%;
    text-align: center;
    justify-content: center;
    /* background: #f8f8f8; */
    font-weight: bold;
}

h4{
    text-align: left;
    margin-left: 53px;
}

.noTimeSubject hr{
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px solid #d6d6d6;

}


