.lectureapply_root{
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}
.lectureapply_header{
    width: 100%;
    height: 10%;
    background: #c30e2e;
}
.lectureapply_header img{
    width: 17%;
    margin-left: 1%;
    margin-top: 1%;
}

.lectureapply_left{
    position: absolute;
    width: 18%;
    height: 100%;
    background-color: white;
    text-align: left;
    border-right: 1px solid rgb(197, 197, 197);
}

.semester{
    width:75%;
    height: 50%;
    margin-left: 25%;
    margin-top: 45%;
    text-align: left;
}

.ul_left{
    text-align: left;
    margin-left: -17%;
    margin-top: 13%;
}

.semester li{
    width: 180px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    color: none;
    text-align: left;
    opacity: 0.5;
}

.semester li.selected {
    font-weight: bold;
    opacity: 1;
}

.lectureapply_right{
    position: absolute;
    margin-left: 25%;
    width:65%;
    height: auto;
    background: none;
}

.label{
    font-size: 25px;
    margin-top: 36px;
    font-weight: bold;
}

.dept{
    display: flex;
    width: 100%;
    height: 5%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.sem{
    display: flex;
    width: 100%;
    font-size: 30px;
    margin-top: 54px;
}

.department_input{
    width: 40%;
    height: 25px;
    margin-left: 10px;
    margin-top: 2px;
}

.deptlist{
    width: 100%;
    height: 240px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: #fff;
    overflow: scroll;
}
.deptlist table{
    border-collapse: collapse;
    width: 100%;
}

.deptlist thead tr{
    position: sticky;
    border-bottom: 1px solid #2d2d2d;
}

.deptlist thead tr th{
    margin-left: 40px;
} 

.deptlist td {
    text-align: center;
}

.deptlist th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.apply{
    display: flex;
    width: 100%;
    height: 4%;
    margin-top: 10px;
}

.apply button{
    width: 60px;
    height: 30px;
    font-size: 18px;
    background-color: #c30e2e;
    color: #fff;
    border: 2px solid #c30e2e;
    cursor: pointer;
    margin-left: 94%;
}

.course{
    display: flex;
    width: 100%;
    height: 5%;
    font-weight: bold;
    font-size: 20px;
}

.sub{
    margin-top: 3px;
}

.course_taken{
    width: 100%;
    height: 214px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-top: 10px;
    overflow: scroll;
}

.course_taken table{
    border-collapse: collapse;
    width: 100%;
}


.course_taken thead tr{
    position: sticky;
    border: 1px solid #2d2d2d;
    border-left: none; 
    border-right: none;
    border-top: none;
}

.course_taken thead tr th{
    margin-left: 40px; 
} 

.course_taken td {
    text-align: center;
}

.course_taken th {
    position: sticky;
    top: 0;
    background-color: #fff;
}



/* .grade{
    display: flex;
    font-weight: bold;
    height: 10%;
    align-items: center;
    margin-left: 35%;
}

.grade span{
    text-align: center;
} */

.small_rect{
    display: flex;
    width: 15px;
    height: 30px;
    background: #c30e2e;
    margin-right: 10px;
}

.rect{
    display: flex;
    width: 50%;
    height: 30%;
    background: #fff;
    border: 1px solid #000000;
}

img{
    cursor: pointer;
}

#select2 {
    width:5%;
}

#subject2 {
    width: 25%;
}

#class12 {
    width :10%;
}

#credit2 {
    width: 8%;
}


#select3 {
    width:10%;
}
#department3 {
    width: 25%;
}

#subject3 {
    width: 25%;
}

#class13 {
    width :10%;
}

#credit3 {
    width: 8%;
}
