.lectureapply_root{
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}
.lectureapply_header{
    width: 100%;
    height: 10%;
    background: #c30e2e;
}
.lectureapply_header img{
    width: 17%;
    margin-left: 1%;
    margin-top: 1%;
}

.left{
    position: absolute;
    width: 35%;
    height: 1000px;
    background: none;
}

.semester{
    width: 100%;
    height: 100%;
    margin-left: 70px;
    margin-top: 30px;
}

.semester button{
    width: 360px;
    height: 60px;
    margin-top: 23px;
    font-size: 20px;
}

.right{
    position: absolute;
    margin-left: 35%;
    width:65%;
    height: 1000px;
    background: none;
}

.dept{
    display: flex;
    width: 100%;
    font-weight: bold;
    height: 5%;
    font-size: 20px;
    margin-top: 54px;
}

.sem{
    display: flex;
    width: 100%;
    font-size: 30px;
    margin-top: 54px;
}

.department_input{
    width: 50%;
    height: 50%;
    margin-left: 10px;
}

.objlist{
    position: relative;
    width: 90%;
    height: 30%;
    border: 1px solid black;
    font-size: 20px;
    background: #fff;
    overflow:scroll;
}

.objlist thead tr th{
    margin-left: 40px;
    
} 


.apply{
    display: flex;
    width: 100%;
    height: 5%;
    margin-top: 10px;
    margin-left: 78%;
}

.apply button{
    width: 62px;
    height: 40px;
    background-color: #c30e2e;
    color: #fff;
    font-size: 20px;
    border: 2px solid #c30e2e;
    cursor: pointer;
}

.apply_check{
    position: relative;
    width: 90%;
    height: 30%;
    border: 1px solid black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.grade{
    display: flex;
    font-weight: bold;
    height: 10%;
    align-items: center;
    margin-left: 35%;
}

.small_rect{
    display: flex;
    width: 15px;
    height: 30px;
    background: #c30e2e;
    margin-right: 10px;
}


.rect{
    display: flex;
    width: 50%;
    height: 30%;
    background: #fff;
    border: 1px solid #000000;
}

.grade span{
    font-size: 20px;
    text-align: center;
}

.label{
    font-size: 34px;
    margin-top: 54px;
}

.objlist td {
    text-align: center;
}

.objlist th {
    position: sticky;
    top: 0;
    background-color: #fff;
    border: 1px solid #444444;
}

.apply_check td {
    text-align: center;
}

.apply_check th {
    position: sticky;
    top: 0;
    background-color: #fff;
    border: 1px solid #444444;
}

table {
    width: 100%;
}

