.Potal_root {
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}

.potal_header {
    width: 100%;
    height: 10%;
    background-color: #c30e2e;
}

.potal_header img {
    margin-top: 1%;
    margin-left: 1%;
    width: 17%;
}

.potal_info2 td {
    text-align: center;
}

.potal_info3 td {
    text-align: center;
}

.potal_info4 td {
    text-align: center;
}

#potal_logout {
    width: 6rem;
    height: 2rem;
    background-color: #c30e2e;
    float: right;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    border: 2px solid #ffffff;
    color: white;
    margin-top: 1.25%;
    cursor: pointer;
}

.potal_name {
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.potal_name_left {
    width: 60%;
    flex-direction: column;
    margin-left: 5%;
}

.potal_name_left h2 {
    margin-top: 30px;
}

.potal_name_left p {
    margin-top: -5px;
}

.potal_name_right {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moment-box {
    width: 300px;
    float: right;
    color: black;
    background-color: white;
    display: flex;
    font-size: 50px;
    font-weight: lighter;
}

#potal_Application {
    width: 10rem;
    height: 2.5rem;
    background-color: #c30e2e;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    color: white;
    margin-top: 1.25%;
    cursor: pointer;
    font-weight: bold;
    float: right;
    margin-right: 5%;
}

.potal_body {
    width: 100%;
    height: 75%;
    display: flex;
}

.potal_left {
    width: 46%;
    height: 100%;
}

.potal_timetable {
    width: 100%;
    height: 150%;
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mytimetable {
    position: absolute;
    display: flex;
    height: 80%;
    width: 200px;
}

.potal_timetable_header {
    position: relative;
    width: 90%;
    height: 10%;
    background-color: transparent;
    margin-top: -120%;
    display: flex;
}
.potal_timetable_header h3 {
    margin-top: 30px;
}

.potal_timetable_content {
    position: absolute;
    display: flex;
    width: 40%;
    height: 100%;
    margin-top: 60px;
}

.tablehead {
    position: absolute;
    display: flex;
    margin-top: -4px;
}

.tablehead tr td {
    position: absolute;
    width: 58px;
    font-size: 12px;
    margin-left: 4px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}

.tablehead tr th {
    position: absolute;
    width: 96px;
    font-size: 12px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}

.tablehead tr th span {
    position: absolute;
    display: flex;
}



#potal_interested {
    width: 8rem;
    height: 2rem;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    color: #c30e2e;
    margin-top: 2%;
    cursor: pointer;
    font-weight: bold;
    margin-left: 66%;
    border: 2px solid #c30e2e;
    float: right;
}

.potal_right {
    width: 54%;
    height: 82%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #f8f8f8;
}

.potal_information {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
}

.potal_info1 {
    width: 97%;
    height: 8%;
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
}

.potal_info2 {
    width: 97%;
    height: 22%;
    background-color: white;
    margin-top: 2%;
    margin-left: 3%;
}

.potal_info3 {
    width: 97%;
    height: 32%;
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
}

.potal_info4 {
    width: 97%;
    height: 17%;
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
}

#potal_get {
    width: 8rem;
    height: 2rem;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    color: #c30e2e;
    cursor: pointer;
    font-weight: bold;
    margin-left: 70%;
    border: 2px solid #c30e2e;
    float: right;
}

.potal_grade {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    background-color: #f8f8f8;
    display: flex;
}

.potal_grade h4 {
    margin-left: 50%;
}

.potal_grade h3 {
    margin-left: 20%;
}

table {
    width: 85%;
}

.hours {
    position: absolute;
    margin-top: 27px;
    margin-left: -4px;
    width: 60px;
    height: 100%;
}

.hours span {
    display: flex;
    margin-left: 38px;
    margin-top: -13px;
}

.hour9 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    line-height: 60px;
}
.hour10 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 59px;
    line-height: 60px;
}
.hour11 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 120px;
    line-height: 60px;
}
.hour12 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 179px;
    top: 660;
    line-height: 60px;
}
.hour1 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 240px;
    top: 720;
    line-height: 60px;
}
.hour2 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 299px;
    top: 780;
    line-height: 60px;
}
.hour3 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 360px;
    top: 840;
    line-height: 60px;
}
.hour4 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 419px;
    top: 900;
    line-height: 60px;
}
.hour5 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    top: 960;
    margin-top: 480px;
    line-height: 60px;
}
.hour6 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 539px;
    top: 1020;
    line-height: 60px;
}

.hour7 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 600px;
    top: 1020;
    line-height: 60px;
}
.hour8 {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 59px;
    display: table-cell;
    letter-spacing: -0.5px;
    margin-top: 659px;
    top: 1020;
    line-height: 60px;
}

.tablebody {
    margin-left: 7px;
}

.grids_mon {
    position: absolute;
    margin-top: 27px;
    width: 60px;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
}
.grids_thu {
    position: absolute;
    margin-top: 27px;
    width: 60px;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.grids_wed {
    position: absolute;
    margin-top: 27px;
    width: 60px;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 246px;
}
.grids_thr {
    position: absolute;
    margin-top: 27px;
    width: 60px;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 342px;
}
.grids_fri {
    position: absolute;
    margin-top: 27px;
    width: 60px;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 438px;
}

.grid {
    border: 1px solid #d6d6d6;
    display: table-cell;
    height: 30px;
    font-size: 10px;
    border-width: 1px;
    color: gray;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    border-top: 1px solid #e3e3e3;
    font-size: 12px;
    line-height: 30px;
}


.mon {
    width: 23px;
    font-size: 12px;
    height: 30px;
    border-color: #d6d6d6;
    margin-left: 66px;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}
.thu {
    position: absolute;
    font-size: 12px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    margin-left: 166px;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}
.wed {
    position: absolute;
    width: 45px;
    font-size: 12px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    margin-left: 266px;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}
.thr {
    position: absolute;
    width: 45px;
    font-size: 12px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    margin-left: 366px;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}
.fri {
    position: absolute;
    width: 45px;
    font-size: 12px;
    height: 30px;
    display: table-cell;
    border-color: #d6d6d6;
    margin-left: 466px;
    color: #a6a6a6;
    border: 1px solid #d6d6d6;
}