.content_start{
    width: 100%;
    height: 88%;
    background-color: antiquewhite;
    display: flex;
}


.footer_start{
    width: 100%;
    height: 12%;
    background-color: #334d61;
    color: white;
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
}

.root{
    width: 100vw;
    height: 100vh;
    
}
.left_start{
    width: 25%;
    background: #c30e2e;
    position: relative;

}
.right_start{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #eeede3;
    height: 100%;
    padding-left: 9rem;

}
.logo_start{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 8rem;
    z-index: 1;
    cursor: pointer;
}
.logo2_start{
    position: absolute;
    right: -6rem;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    object-fit: contain;
}
.action-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
}
.font-large{
    font-size: 2rem;
    font-weight: bold;
}
.font-medium{
    font-size: 1.25rem;
    font-weight: bold;
}
#login-button{
    width: 80%;
    height: 3rem;
    background-color: #c30e2e;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.footer_container{
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
}
#footer_container_right{
    align-items: flex-end;
    text-align: right;
    margin-right: 30px;
}