.loginBtn{
    display:inline-block;
    min-width:50px; 
    padding:9px 5px 9px; 
    text-align:center;
    font-size:18px;color: #37343f;
    background: #ffffff;
    border: 1px solid #8d9cae;
    border-radius:3px;
}
